<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing></Authorizing>
                <NotAuthorized>
                    @{
                        NavigationManager.NavigateTo("/login");
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            @*<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>*@
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Aka, siz noto'g'ri manzildasiz</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
